/*PALETA DE COLORES*/
$primary: aqua;
$secondary: black;
$alternative: violet;

/*ESPACIADOS*/
$large: 6rem;
$medium: 2.4rem;
$small: 2rem;
$xsmall: 1rem;

/*FUENTES*/
$title-font: "raleway";
$text: "serif";

/*TAMAÑO DE FUENTE*/
$large: 5.2rem;
$medium: 2.2rem;
$base: 1.6rem;
$small: 1.4rem;




