header{
    @include flex (row,space-around,center);
    padding: $small;
    border-bottom: 2px solid $secondary;
    background-color:#f5ffba;
    

    .header__img {
        max-width: 120px;
    }

    .menu{
        display: flex;
        gap: $small;
        background-color:  #f5ffba;
    }

    .menu__link{
        font-size: $medium;
        padding: $small;
        list-style-type: none;
        
        &:hover {
            color: white;
        }
    
    }





}

