

    img {
        max-width: 300px;
        max-height: 200px;
    }

    footer {
        background-color: aqua;
    }

  section#intro {

    background-color: aliceblue;
  }
form {

    background-color: aliceblue;
}

         